@font-face {
    font-family: "OpenSans";
    src: url("../fonts/toystore/OpenSans-Medium.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VarelaRound";
    src: url("../fonts/toystore/VarelaRound-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    /*Sizes*/
    --desktop-max-width: 1440px;
    --desktop-content-width: 1170px;

    /*Fonts*/
    --main-text: "OpenSans", Arial, sans-serif;
    --extra-text: "VarelaRound", Helvetica, sans-serif;

    /*Colors*/
    --main-text-dark: #111111;
    --main-text-dark--hover: #333333;
    --main-text-light: #FFFFFF;
    --article-text: #999999;
    --form-main: #F8F8F8;
    --footer-line: #FFFFFF40;


    --seeall-underline: #DDDDDD;
    --scroll-main: #E5E5E5;

    --toy-cart-shadow: 0px 1px 2px 0px #00000026;
    --main-green: #A5C926;
    --wooden-background: #fb416b;
    --stuffed-background: #ffc12c;

    /*images*/
    --twitter-icon: url("../img/toystore/twitter.svg");
    --facebook-icon: url("../img/toystore/facebook.svg");
    --instagram-icon: url("../img/toystore/instagram.svg");
    --pinterest-icon: url("../img/toystore/pinterest.svg");
    --youtube-icon: url("../img/toystore/youtube.svg");

    --cart-icon: url("../img/toystore/cart-icon.svg");
    --promo-back: url("../img/toystore/promo-back.jpg");
    --arrow-icon: url("../img/toystore/Arrow.svg");
    --about-back: url("../img/toystore/about-back.jpg");
    --about-button: url("../img/toystore/about-button.svg");
    --arcticle-back: url("../img/toystore/article-image.png");
    --subscribe: url("../img/toystore/subscribe.svg");
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.body {
    background-color: var(--form-main);
}

/*header*/

.header-contacts {
    background-color: var(--main-green);
}

.header-contacts__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: var(--desktop-content-width);
    margin: 0 auto;
    padding: 10px 0;
}

.contacts-numbers__list {
    display: flex;
    gap: 25px;
    max-width: 50%;

    font-family: var(--main-text);
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: var(--main-text-light);
}

.contacts-numbers__link {
    color: var(--main-text-light);
}

.contacts-numbers__link:hover,
.contacts-numbers__link:focus {
    opacity: 0.7;
}

.socials__list {
    display: flex;
    gap: 10px;
    max-width: 50%;
}

.socials__item {
    width: 18px;
    height: 18px;
}

.socials__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
}

.socials__link:hover,
.socials__link:focus {
    opacity: 0.7;
}

.twitter {
    background: var(--twitter-icon) center no-repeat;
}

.facebook {
    background: var(--facebook-icon) center no-repeat;
}

.instagram {
    background: var(--instagram-icon) center no-repeat;
}

.pinterest {
    background: var(--pinterest-icon) center no-repeat;
}

.youtube {
    background: var(--youtube-icon) center no-repeat;
}

.header-lowpart__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: var(--desktop-content-width);
    margin: 0 auto;
    padding: 20px 0;
}

.header-lowpart__nav {
    width: 980px;
}

.main-nav__list {
    display: flex;
    gap: 35px;
    justify-content: space-around;
    width: fit-content;
    padding: 0 55px;
    font-family: var(--main-text);
    font-size: 14px;
}

.main-nav__link {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-text);
    color: var(--main-text-dark);
}

.main-nav__link:hover,
.main-nav__link:focus {
    opacity: 0.7;
}

.cart {
    width: 97px;
    font-family: var(--main-text);

}

.cart__link {
    display: flex;
    justify-content: space-between;
    color: var(--main-text-dark);
    font-size: 13px;
}

.cart__span:hover,
.cart__span:focus {
    opacity: 0.7;
}

.cart__text {
    position: relative;
    line-height: 20px;
}

.cart__text::after {
    display: block;
    content: "";
    position: absolute;
    top: -9px;
    right: -42px;
    width: 32px;
    height: 32px;
    background: var(--cart-icon) center no-repeat;
}

.cart__number {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: var(--main-green);
    color: var(--main-text-light);
}

/*main*/

.promo {
    height: 640px;
    padding: 166px 0;
    background: var(--promo-back) center no-repeat;
    background-size: cover;
}

.promo__wrapper {
    margin: 0 auto;
    width: 570px;
    height: 308px;
    background-color: var(--main-text-light);
    border-radius: 16px;
}

.promo__sayhi {
    padding: 55px 0 17px 0;
    font-family: var(--main-text);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--main-green);
}

.promo__header {
    margin-bottom: 20px;
    font-family: var(--extra-text);
    font-weight: 400;
    font-size: 39px;
    line-height: 48px;
    text-align: center;
}

.promo__button {
    display: block;
    margin: 0 auto;
    padding: 12px 0;
    width: 153px;
    height: 48px;

    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background-color: var(--main-green);
    color: var(--main-text-light);
    border-radius: 24px;
}

.promo__button:hover {
    opacity: 0.7;
}

.toys {
    max-width: var(--desktop-content-width);
    margin: 0 auto;
}

.toys-types {
    display: flex;
    justify-content: space-between;
    padding: 150px 0 120px 0;
}

.toys-types__item {
    position: relative;
    width: 570px;
    min-height: 188px;
    border-radius: 16px;
}

.types-stuffed {
    background-color: var(--stuffed-background);
    padding: 50px 90px 50px 260px;
}

.types-wooden {
    background-color: var(--wooden-background);
    padding: 50px 260px 50px 90px;
}

.types-stuffed__image,
.types-wooden__image {
    position: absolute;
    top: -50px;
}

.types-stuffed__image {
    left: 15px;
}

.types-wooden__image {
    right: 20px;
}

.types-stuffed__header,
.types-wooden__header {
    margin: 0 0 15px 0;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    color: var(--main-text-light);
}

.types-wooden__header {
    text-align: right;
}

.types-stuffed__button,
.types-wooden__button {
    padding: 8px 24px;
    background-color: var(--main-text-light);
    border-radius: 20px;

    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--main-text-dark);

}

.types-stuffed__button:hover,
.types-wooden__button:hover {
    opacity: 0.7;
}

.types-wooden__button {
    margin: 0 0 0 94px;
}

.toys-list__wrapper {
    padding: 0 0 135px 0;
}

.toys-list__header-wrapper {
    display: flex;
    justify-content: space-between;
}

.toys-list__header {
    padding: 0 0 32px 0;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 36px;
    color: var(--main-text-dark);
}

.toys-list__seeall {
    display: block;
    position: relative;
    width: 100px;
    height: 26px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: var(--main-text-dark);
    border-bottom: 2px solid var(--seeall-underline);
}

.toys-list__seeall:hover {
    opacity: 0.7;
    border-bottom: 2px solid black;
}

.toys-list__seeall::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 14px;
    height: 20px;
    background: var(--arrow-icon) center no-repeat;
}

.toys-list {
    display: flex;
    flex-basis: 270px;
    gap: 30px;
    padding: 45px 0 0 0;
    overflow-x: scroll;
}

.toys-list__scroll {

    height: 2px;
    background-color: var(--scroll-main);
}

.toys-list__scroll-thumb {
    width: 100px;
    height: 2px;
    background-color: var(--main-green);
}

.toys-list::-webkit-scrollbar {
    display: none;
    height: 2px;
    background-color: var(--scroll-main);
}

.toys-list::-webkit-scrollbar-thumb {
    background-color: var(--main-green);
}

.toys-list__item {
    margin: 1px 0 3px 2px;
    width: 267px;
    height: 328px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background: var(--main-text-light);
}

.toys-item__image {
    box-sizing: content-box;
    padding: 33px 44px 25px 44px;
}

.toys-item__header {
    margin: 0 0 12px 0;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: var(--main-text-dark);
}

.toys-item__pricelink {
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 8px 12px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--main-text-light);
    background-color: var(--main-green);
    border-radius: 16px;
}

.toys-item__pricelink:hover {
    opacity: 0.7;
}

.about {
    height: 464px;
    background: var(--about-back) center no-repeat;
    background-size: cover;
}

.about__wrapper {
    margin: 0 auto;
    padding: 116px 0;
    width: 800px;
    height: 100%;
    color: var(--main-text-light);
}

.about__welcome-text {
    margin: 0 auto 17px auto;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.about__header {
    margin: 0 auto 18px auto;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    text-align: center;
}

.about__description {
    margin: 0 auto 26px auto;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.about__button {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    font-size: 0px;
    background: var(--about-button) no-repeat center;
}

.article {
    padding: 120px 0 120px 0;
}

.article__welcome {
    margin: 0 0 18px 0;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--main-green);
}

.article__header {
    margin: 0 0 80px 0;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    color: var(--main-text-dark);
}

.article__main-wrapper {
    margin: 0 auto;
    max-width: var(--desktop-content-width);

    height: 422px;
    background: var(--arcticle-back) right no-repeat;
    background-size: 567px 422px;

}

.article__summary {
    width: 500px;
    padding: 80px 0 25px 0;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 40px;
    color: var(--main-text-dark);
}

.article__summary::after {
    display: block;
    margin-top: 25px;
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--main-green);
}

.article__text {
    padding: 0 0 25px;
    width: 450px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--article-text);
}

.article__button {
    width: 145px;
    padding: 12px 28px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background-color: var(--main-green);
    border-radius: 24px;
    color: var(--main-text-light);
}

.article__button:hover {
    opacity: 0.7;
}

.subcribe {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
    width: 1150px;
    height: 175px;
    background: var(--main-text-light);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.subcribe__text {
    position: relative;
    padding: 0 0 0 90px;
    width: 525px;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 32px;

    color: var(--main-text-dark);
}

.subcribe__text::before {
    display: block;
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: 0;
    left: 0;
    background-image: var(--subscribe) no-repeat;
}



.subcribe__discount {
    color: var(--main-green);
}

.subscribe__form {
    width: 513px;
    padding: 14px 0;


}

.subcribe__input {
    width: 375px;
    height: 47px;
    background: var(--form-main);
    border: 2px solid var(--scroll-main);
    border-radius: 24px;
}

.subscribe__button {
    display: inline-block;
    width: 121px;
    height: 47px;
    font-size: 0px;
    text-align: center;
    vertical-align: top;
    background: var(--main-green);
    border-radius: 24px;
}

.subscribe__button:hover {
    opacity: 0.7;
}

.insta {
    padding: 120px 0;
    max-width: var(--desktop-content-width);
    margin: 0 auto;
}

.insta__account {
    display: block;
    max-width: 1440px;
    margin: 0 auto 17px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--main-green);
}

.insta__header {
    margin: 0 auto 85px;
    font-family: var(--extra-text);
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    color: var(--main-text-dark);
}

.photo-list {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 0 0 75px 0;
}

.insta__button {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    width: 175px;
    height: 50px;
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--main-text-light);
    background-color: var(--main-green);
    border-radius: 24px;
}

.insta__button:hover {
    opacity: 0.7;
}


.body-footer {

    background-color: var(--main-green);
}

.sitemap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px 0;
    max-width: var(--desktop-content-width);
    border-bottom: 2px solid var(--footer-line);
}

.sitemap__nav {
    display: flex;
    gap: 28px;
    justify-content: space-around;
}

.nav-list__link {
    font-family: var(--main-text);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-text-light);
}

.nav-list__link:hover {
    opacity: 0.7;
}


.copyright {
    margin: 0 auto;
    padding: 30px 0;
    max-width: var(--desktop-content-width);
}

/*hidden objects*/

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}